body {
    font-family: Arial, sans-serif;
    background-color: #22252a;
    color: #fff;
    margin: 0;
  }
/*NAvigation section=====*/
nav ul{
  display: flex;
  flex-direction: row;
  gap: 5rem;align-items: center;
  justify-content: center;
  list-style: none;
}
nav ul li{
  text-decoration: none;
}
nav ul li a{
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
nav ul li a:hover {
  transform: scale(1.1) translateY(-1px);
  box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.1); 
}
  /*Hero section========*/
  .hero_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('./images/hero\ background.jpg') no-repeat center center / cover;
    height: 70vh;
    align-items: center;
  }
  .hero_section h1{
    font-size: 60px;
    margin-bottom: 0%;
  }
  .hero_button{
    background-color: #d4881e;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .hero_button:hover {
    transform: scale(1.1) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.1); 
  }

  /*----------------------------*/
  /* General Section Styling */
.stats_section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    gap: 4rem;
  }
  
  /* Styling for the Number Box */
  .stat_box {
    text-align: center;
    padding: 1rem 1.5rem;
    border: 5px solid rgb(141, 127, 127);
  }
  
  .stat_number {
    font-size: 3rem;
    font-weight: bold;
    color: #f9a826; /* Highlight color for the number */
  }
  
  .stat_box p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #cccccc; /* Subtle text color */
  }
  
  /* Styling for the Text Content */
  .stats_section h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  .status_heading p{
    color: #d4881e;
  }
  
  .stat_content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #b0b0b0;
    margin-bottom: 1.5rem;
  }
  
  .learn_more_btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #f9a826; /* Highlight button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .learn_more_btn:hover {
    transform: scale(1.1) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.1); 
  }
  

  /*--Read More section-------------*/

  .readmore_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding-top: 5rem;
  }
  .readmore_section img {
    width: 300px;
  }
  .reademore_card1{
    width: 290px;
    height: 430px;
    background: url('./images/read\ 04.jpg') no-repeat center center / cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .reademore_card1:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
  }
  .reademore_card2{
    width: 290px;
    height: 430px;
    background: url('./images/read\ 02.jpg') no-repeat center center / cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .reademore_card2:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
  }
  .reademore_card3{
    width: 290px;
    height: 430px;
    background: url('./images/read\ 03.jpg') no-repeat center center / cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .reademore_card3:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
  }
  .reademore_card4{
    width: 290px;
    height: 430px;
    background: url('./images/read\ 01.jpg') no-repeat center center / cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .reademore_card4:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
  }
  .readmore_section p{
    margin-left: 1rem;
    padding: 4px;
    margin-top: 300px;
    background-color: #d4881e;
    width: 5rem;
    border-radius: 3px;
  }
  .readmore_section h3{
    padding-left: 1rem;
  }
  .readmore_section a{
    text-decoration: none;
    color: #ffffff;
  }

  /*----------------*/
  .advantages_section{
    margin-top: 7rem;
  }
  .advantages_heading{
    text-align: center;
  }
  .advantages_heading p{
    color: #d4881e;
  }
  .advantages_heading h2{
    font-size: 35px;
  }
  .advantages_details{
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  
  .advantages_details_card{
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .advantages_details_card:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
  }
  .advantages_details_card img{
    margin-top: 8px;
    width: 60px;
    background-color: #33363a;
    border-radius: 50%;
    padding: 7px;
  }

  /*--Show case section------*/
  .section_discount{
    height: 75vh;
    overflow: hidden;
  }
  .discount_video{
    overflow: hidden;
    opacity: o.5;
  }
  .discount_heading{
    position: absolute;
    margin-left: 7rem;
    margin-top: 4rem;
  }
  .discount_heading h1{
    font-size: 45px;
  }
  .showcase_button{
    background-color:#d4881e ;
    width: 90px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .showcase_button:hover {
    transform: scale(1.1) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
  }
  
  /*--portpolio section --------------*/
  .portpolio_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5rem;
  }
  .portpolio_section p{
    margin: 0%;
  }
  .portpolio_p{
    color: #d4881e;
  }
  .portpolio_section img{
    width: 300px;
    height: 170px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
     transition: transform 0.3s ease, box-shadow 0.3s ease; 
    }
    .portpolio_section img:hover {
      transform: scale(1.03) translateY(-1px);
      box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
    }
  .portpolio_imgs{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  /*--Woronty secrion----------*/
  .warenty_section{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .warent_img{
    width: 600px;
    height: 400px;
    overflow: hidden;
  }
  .warenty_section img{
    width: 600px;
  }
  .waronty_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .waronty_details h2{
    margin: 0%;
  }
  .waronty_details_card{
    background: #d4881e;
    width: 140px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .waronty_details_card:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.1); 
  }

  /*Testimonial  section----------*/
  .testimonial_section{
    margin-top: 5rem;
    text-align: center
  }
  .testimonial_card_section{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
  }
  .testimonial_card{
    background-color: #33363a;
    width: 400px;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.testimonial_card:hover {
  transform: scale(1.03) translateY(-1px);
  box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.3); 
}

  .testimonial_card p{
    text-align: left;
  }
  .testimonial_card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 8px;
  }
  .testimonial_details{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
  }
  .testimonial_section h2{
    font-size: 30px;
  }
  .testimonial_section_p{
    color: #d4881e;
  }


  /*philoshopy_section--------*/
  .philoshopy_section{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    height: 50vh;
    overflow: hidden;
    justify-content: space-between;
    background-color: #33363a;
  }
  .philoshopy2 img{
    width: 750px;
  }
  .philoshopy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
  }
  .philoshopy h2{
    margin: 0%;
  }
  .philoshopy_p{
    color: #d4881e;
  }
  .philoshopy_button{
    background-color: #d4881e;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .philoshopy_button:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.1); 
  }

  /*details section---------*/
  .details_section{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
    margin-top: 3rem;
  }

  /*footer section-------------*/
  footer{
    height: 40vh;
    text-align: center;
    margin-top: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url('./images/hero\ background.jpg') no-repeat center center / cover;
    align-items: center;
  }
  .footer_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    justify-content: center;

  }
  .footer_section h2{
    font-size: 30px;
    margin: 0%;
  }
  .footer_section_button{
    background-color: #d4881e;
    width: 100px;
    padding: 4px;
    border-radius: 4px;
    margin-top: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .footer_section_button:hover {
    transform: scale(1.03) translateY(-1px);
    box-shadow: 0 0 6px 6px rgba(255, 170, 0, 0.1); 
  }
  .foooter_copyright{
    margin-top: 2.5rem;
    background-color: #33363a;
    width: 1507px;padding: 3px;
    margin-bottom: 0%;
  }